html {
   font: 12px "Microsoft YaHei","Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,sans-serif;
   word-wrap: break-word;
   -ms-word-wrap: break-word;
   text-align: justify;
   text-justify: inter-ideograph;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}

body {
   background-color: #f2f2f2
}

#bg {
    position: fixed;
    z-index: -999;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

#bg-img {
    width:100%;
    height:100%;
    border:0;
}

.card {
    position: fixed; 
    width:40%;
    height: 80%;
    left:30%;
    top:10%;
}

.scrollbar-mask {
    height:100%;
    overflow: hidden;
}

.scrollbar-offset {
    /*overflow-y: scroll;*/
    height:100%;
    width:100%;
    position: relative;
}

#md-card {
    padding: 1em 0 1em 0;
}

#md-border {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-style:dashed;
    border-width:1px;
    border-color:gray;
    z-index: -990;
}

#md-text {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    margin: 0;
    resize: none;
    padding:0;
}

#preview-card {
    z-index:-995;
}
